<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>兑入订单</title>
  <!--<link rel="shortcut icon" href="images/ico/logo_2.png" type="image/x-icon"/>-->
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/match.css">
  <link rel="stylesheet" href="./js/css/layui.css?t=1545041465443" media="all">
  <link rel="stylesheet" href="./js/css/index.css">

  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</head>
<body>
<div id="app">

  <div class="match">
    <!--日志弹框-->
    <div class="match-mask" v-show="log">
      <div class="mask"></div>
      <div class="wrap">
        <div class="modal">
          <div class="model-header">
            <span>操作日志</span>
            <i @click="closeLog"></i>
          </div>
          <div class="content">
            <ul>
              <li v-for="(item, index) in matchOrderFinishData"
                  :class="finishIndex === index?'finish':''"
              >
                <div class="icon">
                  <span></span>
                </div>
                <div class="text">
                  <p>{{item.title}}</p>
                  <p>
                    <span>{{item.zfk}}</span>
                    <span>{{item.hms}}</span>
                  </p>
                </div>
              </li>
            </ul>
            <a class="actCouponBtn" href="javascript:;"
               @click="closeLog"

            >
              <span>确定</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar">
      <a class="logo" href="./index.html">NOWPAY</a>
      <a class="sidebar-item"
         v-for="(item,index) in sidebarNavList"
         :class="index === 0?'sidebar-active':''"
         :href="item.href"
      >
        <i :class="item.icon"></i>
        <span>{{item.text}}</span>
      </a>
    </div>

    <div class="main">
      <div class="main-top">
        <div class="top-content">
          <div class="content-left">欢迎使用NOVOXPAY出入金系统！</div>
          <div class="content-right">
            <span id="zfk"></span>
            <span id="watt"></span>
            <span id="hms"></span>
            <span>xiaodao</span>
          </div>
        </div>
        <a class="top-logout" href="./login.html"></a>
      </div>
      <div class="main-warp">
        <p class="title">兑入订单管理</p>
        <div class="order-state">
          <div class="state">
            <span>订单状态</span>
            <select>
              <option value="" style="display: none">所有状态</option>
              <option value="done">已完成</option>
              <option value="unpaid">待客户支付</option>
              <option value="payable">待服务商收款</option>
              <option value="uncollected">服务商未收款</option>
              <option value="canceled">已取消</option>
            </select>
            <input type="text" placeholder="付款人">
            <input type="text" placeholder="订单编号">
            <input type="text" placeholder="服务商收款账号">
            <input type="text" placeholder="转账备注码">
          </div>
          <div class="state">
            <span>订单类型</span>
            <select>
              <option value="" style="display: none">所有类型</option>
              <option value="done">已完成</option>
              <option value="unpaid">待客户支付</option>
              <option value="payable">待服务商收款</option>
              <option value="uncollected">服务商未收款</option>
              <option value="canceled">已取消</option>
            </select>
            <input type="text" placeholder="服务商">
            <input type="text" placeholder="第三方订单号">
            <input class="query" type="button" value="查询">
            <input class="export" type="button" value="导出excel">
          </div>
        </div>

        <!--表单数据-->
        <!--<div class="order-content">
          <div class="content-header">
            <div class="header-item">订单编号</div>
            <div class="header-item">第三方订单</div>
            <div class="header-item">订单状态</div>
            <div class="header-item">服务商</div>
            <div class="header-item">时间</div>
            <div class="header-item">付款人</div>
            <div class="header-item">USDT数量</div>
            <div class="header-item">金额(CNY)</div>
            <div class="header-item">相关操作</div>
          </div>
          <div class="content-detail">
            <div class="detail" v-for="(item, index) in orderItems">
              <div class="detail-item">{{item.orderNumber}}</div>
              <div class="detail-item">{{item.thirdPartyOrder}}</div>
              <div class="detail-item">{{item.orderState}}</div>
              <div class="detail-item">{{item.facilitator}}</div>
              <div class="detail-item">{{item.time}}</div>
              <div class="detail-item">{{item.payer}}</div>
              <div class="detail-item">{{item.USDTNumber}}</div>
              <div class="detail-item">{{item.sum}}</div>
              <div class="detail-item">
                <a class="item" href="./match_detail.html">详情</a>
                <span class="item" @click="lookLog">日志</span>
              </div>
            </div>
          </div>
          <div class="content-page">
            <div class="page">
              <span class="page-row">
                共<em>64</em>条
              </span>
              <select>
                <option>10条/页</option>
                <option>20条/页</option>
                <option>30条/页</option>
              </select>
              <input class="prev" type="button" value="<">
              <input class="next" type="button" value=">">
              <span class="page-skip">跳转到</span>
              <input class="skip-number" type="text" value="2">
              <input class="skip-confirm" type="button" value="确定">
            </div>
          </div>
        </div>-->

        <div class="order-content">
          <div class="layui-hide" id="demo" lay-filter="order"></div>

          <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-primary layui-btn-xs"
               lay-event="detail">详情</a>
            <a class="layui-btn layui-btn-primary layui-btn-xs"
               lay-event="log">日志</a>
          </script>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
<script src="js/index.js"></script>
<script src="js/log_index.js"></script>
<script src="js/read_cache.js"></script>
<script src="./js/layui.js?t=1545041465443"></script>
<script>
  layui.config({
    version: '1545041465443' //为了更新 js 缓存，可忽略
  })

  layui.use(
    ['laydate', 'laypage', 'layer', 'table', 'element'],
    function () {
      var laypage = layui.laypage, //分页
        layer = layui.layer, //弹层
        table = layui.table //表格

      //执行一个 table 实例
      table.render({
        elem: '#demo',
        url: './json/persons.json', // 数据接口,
        title: '订单表',
        page: true, //开启分页,
        toolbar: 'default', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档,
        totalRow: true, //开启合计行,
        cols: [ // 列数目
          [ //表头
            {field: 'orderId', title: '订单编号'},
            {field: 'thirdPartyOrder', title: '第三方订单'},
            {field: 'status', title: '订单状态'},
            {field: 'facilitator', title: '服务商'},
            {field: 'time', title: '时间'},
            {field: 'payer', title: '付款人'},
            {field: 'usdtNumber', title: 'USDT数量'},
            {field: 'sum', title: '金额(CNY)'},
            {title: '相关操作', toolbar: '#barDemo'}
          ]
        ]
      })

      //监听行工具事件
      //注：tool 是工具条事件名，order 是 table 原始容器的属性 lay-filter="对应的值"
      table.on('tool(order)', function (obj) {
        var layEvent = obj.event //获得 lay-event 对应的值
        if (layEvent === 'detail') {
          // layer.msg('详情操作')
          // console.log(this)
          // this.href = './match_detail.html';
          var detailParentIndex = $($($(this)[0]).parents()[2]).attr("data-index");
          console.log(111, detailParentIndex)

        } else if (layEvent === 'log') {
          // layer.msg('日志操作')
          var logParentIndex = $($($(this)[0]).parents()[2]).attr("data-index");
          // console.log(222, logParentIndex)

          console.log($(".match-mask").css("display", "block"))
        }
      })

      //分页
      laypage.render({
        elem: 'pageDemo', //分页容器的id
        count: 10, //总页数
        skin: '#FBCD6C', //自定义选中色值
        skip: true, //开启跳页
        jump: function (obj, first) {
          if (!first) {
            layer.msg('第' + obj.curr + '页', {offset: 'b'})
          }
        }
      })
    }
  )
</script>
